{{ define "main" }}

<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2>{{ .Title | markdownify }}</h2>
        <div class="content mb-4">
          {{ .Content }}
        </div>
        <div class="row">
          <!--<div class="col-lg-4 small-post-border">
            <i class="ti-mobile h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Phone</h5>
            {{ .Site.Params.mobile }}
          </div>-->
		  <div class="col-lg-4 small-post-border">
            <i class="ti-home h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Homepage</h5>
			<a href="{{ .Site.Params.hpage }}">{{ .Site.Params.hpage }}</a>
          </div>
          <div class="col-lg-4 small-post-border">
            <i class="ti-email h1 text-primary"></i>
            <h5 class="font-weight-light my-3">E-Mail</h5>
			<a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
          </div>
          <div class="col-lg-4 small-post-border">
            <i class="ti-location-pin h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Location</h5>
			<a href="https://www.google.at/maps/place/Linz/@48.2951579,14.2573656,12z/data=!3m1!4b1!4m5!3m4!1s0x47739595fa99854d:0x7c53292c577975c4!8m2!3d48.30694!4d14.28583">
            {{ .Site.Params.location | markdownify }} </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mb-4">Kontaktiere mich</h2>
        <form action="#" method="POST" class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control mb-4" id="name" name="name" placeholder="Name">
          </div>
          <div class="col-lg-6">
            <input type="email" class="form-control mb-4" id="email" name="email" placeholder="Email">
          </div>
          <div class="col-12">
            <input type="text" class="form-control mb-4" id="subject" name="subject" placeholder="Betreff">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control mb-4" placeholder="Nachricht"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Mitteilung senden</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
-->
{{ end }}